<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jk.model.User">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="CREATEDATETIME" jdbcType="TIMESTAMP" property="createdatetime" />
    <result column="MODIFYDATETIME" jdbcType="TIMESTAMP" property="modifydatetime" />
  </resultMap>

  <select id="getInfo" parameterType="com.jk.model.User" resultMap="BaseResultMap">
    select * from T_USER
  </select>

</mapper>